<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="SO_5DOF_ARM100">
    <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find soarm100_control)/config/soarm100_controllers.yaml</parameters>
        </plugin>
    </gazebo>
</robot>